node_modules/**
dist/**
ui/node_modules/**
ui/bower_components/**
ui/typings/**
ui/wwwroot/**
ui/src/**/*.js
ui/src/**/*.js.map
ui/test/**/*.js
ui/test/**/*.js.map
ui/project.lock.json
src/app/project.lock.json
src/app/bin/**
src/app/obj/**
src/filter/project.lock.json
src/filter/bin/**
src/filter/obj/**
test/app.tests/project.lock.json
test/app.tests/bin/**
test/app.tests/obj/**
test/filter.tests/project.lock.json
test/filter.tests/bin/**
test/filter.tests/obj/**
