node_modules/**
dist/**
ui/node_modules/**
ui/bower_components/**
ui/typings/**
ui/wwwroot/**
ui/src/**/*.js
ui/src/**/*.js.map
ui/test/**/*.js
ui/test/**/*.js.map
ui/project.lock.json
src/project.lock.json
src/bin/**
src/obj/**
test/project.lock.json
test/bin/**
test/obj/**
