sudo: required
dist: trusty

language: node_js
node_js:
- "6"
addons:
  apt:
    packages:
    - gettext
    - libunwind8
    - libicu52

before_install:
- sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet-release/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
- sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893
- sudo apt-get update
- sudo apt-get -y install dotnet-dev-1.0.1

env:
  global:
  - secure: "OqcQ1d6MjYhY7L/8mAM1GtUxrCwPkMLHVwLZMLH9zinaccL5RosIK8NKyAPv0b1xoytSEUhqgF0v7Ku3uYIyWJ10yV5d5ox7bPdOPlo8XXMVbyzJwcqYzI2FjwYHwdiXjWgHAMrKOEVPiM6LhTiXHtxO/jZcBIcNTRcUS9Q1GLD2xVU+gEM3TpHj5NDl1JYIdxm00hRxztprABCGcoEvflvM5hf+uIjJTs+GoRovtnBiou960HXBgvfldmtef3kCfM1PDkb2dWrtCjiCtZ2roIQOKLK/eRPNyjeh0uxkl9nUHfcFJwmjjd2gr2kdQYNDr/qTEAxvNHiRnlgiH2SiwFHUW1ca/fb7LbSt3wiOTfjk1+fPAQYp206ujSnsA9c/+/wrJlI5paTCYSsDV8nzQP/o5y3pL+d4qLMOktsI160k5pi3tGGaALQybuorp/Zt8ETdu9t9KEcxz3E1mc9VQU7QPHW1UeIxA/dceVeTMFPLAmsIPKk6X0129UFraCU4XTaqduBsDsu2yOqpuHc/VyhDQiukhXCQI9br5heLUHPdvpnuzZ5aw+9v9TLyIEgaO6dNnXJ1rvS05cB/8YrYgCZmoBS/ALzq6BmxK8aG2YHNrjvNaQRJptck7DieKUMSoL0S86n5H8wp9fT7glKNq2DQWl2sMhc68QdCQw7dt/o="
  - secure: "ZdcqJv/8PXOcHbVtMJLdGhovG8akY06c/tY2avjClFTddu+UIlvM2qt312epv0X/y9hRptuJ7HNKKTjOiiWZyXccgnsQ/ZP/CakIaBdCPMXR6a0YkC5tW8eGRGwRl4hjrFg89cuFyVl3LPAcBBSt//YiuJIE5P+zkSsrpyXT6QbvrOoMa7WRu3nc7TA3QWzGo4pJlGXuz0fQHCU5AM7a/sOBIHD+SxVwqICWYfdHmoAVTNijVDn9DSbkGFIKskOob7a1lkzNu1M0iXBG24JdHtjTf27iBmULWOBgBdLuUJTHrSRV2o3M0cw+AMRAcOwly+HwTx3zcUD47cOOckCHCgj45fv8HXLhJpfM437m+rrU8eGQe3wYYs3CpSHvJ6sWInp1UaScnBB6WOWWf9fr+IbnxFI6DCtF2E1shsbtN/GLDmcRbjlF8yM+lUaH50FX91FH9tEkYCK7R6ZjDemxmPD1XaODuTpKrSQ6B+w4ixWR5n44XxRVrNMcAdrWLxY2FUnnAyNuLcvdy7oLTE/FkCFiciNExlR1zMKXNV/Z5+D8kK6IoUBy7vjxhyK8rnkA90mc789H1L28XSSDOX+bSbRz2PVuFcv8C8dFPxBDrZcU/s5G1fjtdO40+NPdrxoZlNgBWVPvLCs6Q7rP34454DN2Vz+98xaevZAcpgalmCY="
  - DOTNET_CLI_TELEMETRY_OPTOUT=1

script:
- echo build$TRAVIS_BUILD_NUMBER
- dotnet restore
- dotnet publish --configuration Release --output ../../artifacts/approot src/HelloCoreClrApp --version-suffix build$TRAVIS_BUILD_NUMBER
- dotnet msbuild /t:publish /p:configuration=Release /p:output=../artifacts/wwwroot ui

cache:
  directories:
    - $HOME/.nuget/packages
    - node_modules
    - ui/node_modules
    - ui/typings
    - ui/src/jspm_packages
