sudo: required
dist: trusty

language: node_js
node_js:
- "6"
addons:
  apt:
    packages:
    - gettext
    - libunwind8
    - libicu52

before_install:
- sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet-release/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
- sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893
- sudo apt-get update
- sudo apt-get -y install dotnet-sdk-2.0.0

env:
  global:
  - DOTNET_CLI_TELEMETRY_OPTOUT=1

script:
- dotnet publish --configuration Release --output ../../artifacts/approot src/HelloCoreClrApp --version-suffix build$TRAVIS_BUILD_NUMBER
- dotnet msbuild /t:publish /p:configuration=Release /p:output=../artifacts/wwwroot ui
- dotnet test /p:configuration=Release test/HelloCoreClrApp.Test/HelloCoreClrApp.Test.csproj
- npm run test --prefix ui

cache:
  directories:
    - $HOME/.nuget/packages
    - node_modules
    - ui/node_modules
