version: '0.1.{build}'
image: Visual Studio 2017
environment:
    nodejs_version: "6"
    JSPM_GITHUB_AUTH_TOKEN:
        secure: iQJv6hQfYn6ykJpUPhNSnEcKJBMP1WKynxm70Xqdr3cOGdkLU06VFfRFmOvJwx58
    typings_githubToken:
        secure: iQJv6hQfYn6ykJpUPhNSnEcKJBMP1WKynxm70Xqdr3cOGdkLU06VFfRFmOvJwx58
    DOTNET_CLI_TELEMETRY_OPTOUT: 1

install:
- ps: Install-Product node $env:nodejs_version

build_script:
- dotnet restore
- dotnet publish --output ..\..\artifacts\approot src\HelloCoreClrApp
- dotnet msbuild /t:publish /p:output=..\artifacts\wwwroot ui

before_test:
- nuget install OpenCover -Version 4.6.690 -o .\packages
- npm install karma-appveyor-reporter --prefix ui

test_script:
- packages\OpenCover.4.6.690\tools\OpenCover.Console.exe -target:dotnet.exe -targetargs:"test test\HelloCoreClrApp.Test\HelloCoreClrApp.Test.csproj" -register:user -oldstyle -filter:"+[HelloCoreClrApp*]* -[HelloCoreClrApp*.Test*]*" -hideskipped:Filter -returntargetcode -mergeoutput -output:reports\coverage-dotnet.xml
- npm run lint:ts --prefix ui
- npm run lint:html --prefix ui
- npm run lint:style --prefix ui
- npm run unit-tests --prefix ui -- --browsers Chrome --reporters progress,coverage-istanbul,appveyor
- npm run compile --prefix ui
- npm run e2e-tests:prepare --prefix ui
- npm run e2e-tests --prefix ui

after_test:
- npm install codecov
- node_modules\.bin\codecov --disable=gcov -f reports\coverage-dotnet.xml
- node_modules\.bin\codecov --disable=gcov -f reports\coverage-ts.json

cache:
- '%USERPROFILE%\.nuget\packages -> appveyor.yml'
- 'ui\node_modules -> appveyor.yml'
- 'node_modules -> appveyor.yml'
- 'packages -> appveyor.yml'
