.splash {
  text-align: center;
  margin: 10% 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 24px;
  line-height: 24px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 24px;
  margin-top: 25px;
}
