#toast-container > .toast {
  background-image: none !important;
}

#toast-container > .toast::before {
  position: relative;
  font-family: FontAwesome, serif;
  font-size: 24px;
  line-height: 18px;
  float: left;
  margin-left: -1em;
  color: #fff;
  padding-right: 0.5em;
  margin-right: 0.5em;
}

/* See http://fontawesome.io/cheatsheet/ for icon codes */

#toast-container > .toast-warning::before {
  content: "\f071";
}

#toast-container > .toast-error::before {
  content: "\f001";
}

#toast-container > .toast-info::before {
  content: "\f05a";
}

#toast-container > .toast-success::before {
  content: "\f087";
}

.body-app {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
