{
    "ignorePatterns": [ "wwwroot/**" ],
    "overrides": [
        {
            "files": [ "{src,test}/**/*.ts" ],
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "project": "tsconfig.json"
            },
            "plugins": [
                "@typescript-eslint"
            ],
            "extends": [
                "eslint:recommended",
                "plugin:@typescript-eslint/eslint-recommended",
                "plugin:@typescript-eslint/recommended",
                "plugin:@typescript-eslint/recommended-requiring-type-checking",
                "plugin:prettier/recommended"
            ]
        },
        {
            "files": [ "test-e2e/**/*.ts" ],
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "project": "test-e2e/tsconfig.json"
            },
            "plugins": [
                "@typescript-eslint"
            ],
            "extends": [
                "eslint:recommended",
                "plugin:@typescript-eslint/eslint-recommended",
                "plugin:@typescript-eslint/recommended",
                "plugin:@typescript-eslint/recommended-requiring-type-checking",
                "plugin:prettier/recommended"
            ]
        },
        {
            "files": [ "**/*.js" ],
            "extends": "standard"
        }
    ]
}
